.plus-container {
  // position: relative;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
}

.plus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-primary);
  width: 3rem;
  display: block;
  margin: 0 auto;
}
