.add-metric {
  width: 70%;
  margin: 0 auto;
}

.add-metric__field,
.add-metric__btn {
  margin-bottom: 1rem;
}

.add-metric__btn {
  width: 30%;
  display: block;
  margin: 1rem auto;
}

.add-metric__title {
}
