@import "./ui-kit.scss";
@import "../components/metrics/metrics.scss";
@import "../components/metrics/metric/metric.scss";
@import "../components/dataPicker/dataPicker.scss";
@import "../components/header/header.scss";
@import "../components/nav/nav.scss";
@import "../components/value-setter/value-setter.scss";
@import "../components/close-icon/close-icon.scss";

$primary-color: #333;
$secondary-color: #f7f7f7;
$active-color: #ed1b2f;
$font-family-regular: Arial, sans-serif;
$border-color: #ddd;

html,
body {
  margin: 0;
  padding: 0;

  background-color: #fff;

  font-size: 16px;
  line-height: 28px;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
}

// LAYOUT
.wrapper {
  margin: 0 auto;
  min-width: 90%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  flex: 1;

  display: flex;
  flex-direction: row;
}

.value-setter,
.metrics {
  flex-basis: 50%;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .new-value {
    flex-grow: 1;
  }

  .metrics {
    flex-basis: 140px;
  }
}
