.spoiler {
  padding: 1rem;
  user-select: none;

  &__head {
    width: 100%;
    padding: 1rem;

    background-color: var(--color-page-obj);

    cursor: pointer;
  }

  &__body {
    width: 100%;
    overflow: hidden;

    height: 0;
    padding: 0 1rem;

    transition: all 0.3s ease-out;
    transform: translateY(-11%);
    background-color: var(--color-page-section);
    opacity: 0.7;

    &_opened {
      height: auto;
      padding: 1rem;

      transform: translateY(0);

      opacity: 1;
    }
  }
}
